/*  @import '../../shared/scss/base'; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import 'report-dark';
@import 'kmom-dark';

/* Variables */
$font-stack: 'Open Sans',
sans-serif;

$red: #b50000;
$yellow: #d28c00;
$white: #bfbfd3;
$dark: #25273e;
$light: #9696bb;

$shadow-color1: rgba(0, 0, 0, 0.2);
$shadow-color2: rgba(0, 0, 0, 0.19);
$box-shadow: 0 4px 8px 0 $shadow-color1,
0 6px 20px 0 $shadow-color2;
$text-shadow-dark: 1px 1px $dark;
$text-shadow-light: 1px 1px $light;

* {
    font-family: $font-stack;
}

*:focus {
    outline: none;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.footer {
    flex: 0 0 auto;
    border-top: $yellow solid 2px;
}

/* Header */

.site-header {
    background-color: $dark;
    color: $light;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    border-bottom: $red 2px solid;

}

.site-header a,
.site-header a:visited {
    text-decoration: none;
    color: $light;
}

/* Main */

.main,
.mainrep {
    flex: 1 0 auto;
    padding: 2em;
    background-color: $dark;
    color: $light;
}

.main {
    display: flex;
}

.leftie,
.rightie {
    width: 30%;
}

.index {
    max-width: 980px;
    width: 100%;
}



/* Footer */

.footer {
    background-color: $dark;
    color: $light;
    padding: 0 3em;

    a {
        color: $light;
        text-shadow: $text-shadow-light;
        text-decoration: none;
    }

    a:hover {
        color: $yellow;
    }

    p {
        margin: 0;
        padding: 3em 0;
    }

    .social {
        float: right;
        padding: 1.5em 0 1.5em 1em;
        font-size: 2rem;
    }
}

/* Text */

p {
    margin: 10px 0;
    font-size: 1em;
    line-height: 1.6em;
}

ul,
ol {
    margin: 20px 0 10px 20px;
}

ol li {
    margin: 20px 0 0;
}

li {
    margin: 10px;
}

h1 {
    color: $light;
}

.landingpage h1,
.kmomindex h1,
.index h1 {
    color: $light;
}

h2 {
    color: $light;
    margin-top: 2em;
}

hr {
    margin: 30px 0;
}

i {
    font-size: 0.6em;
    margin-top: 0;
    line-height: 1em;
    vertical-align: middle;
}

/* Bild */

.image {
    float: right;
    margin: 20px 0;
    box-shadow: $box-shadow;
    border-radius: 2px;
    filter: brightness(75%);
}

.image2 {
    margin: 20px 0;
    box-shadow: $box-shadow;
    border-radius: 2px;
    filter: brightness(75%);
}

td {
    box-shadow: $box-shadow;
    border-radius: 2px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.flash-img {
    width: 100%;
    filter: brightness(75%);
}

/* NAV */

.hidden {
    display: none !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0 none;
}

.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.sheader {
    display: flex;
    flex-direction: row;
}

.sheader-left {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.sheader-right {
    display: flex;
    flex-direction: row;
    width: 50%;
    position: relative;
}

.title {
    margin: 0 0 0 20px;
    min-width: 250px;
    text-align: center;
    width: 66%;
}

.logo {
    width: auto;
    height: 100%;
    width: 33%;
}

.navcont {
    width: 100%;
    margin: 0 20px;
    padding: 0;
    text-align: right;
    outline: none;
    flex-direction: row;
    position: absolute;
    bottom: 10px;
    right: 1px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;
        outline: none;
    }

    ul li {
        display: inline-block;
        margin-left: 0.5em;
        padding: 0;
        font-weight: 700;
        text-align: right;
    }

    .active a {
        color: $white;
    }

    a:hover,
    .nav-toggle:hover {
        color: $yellow;
    }
}

.nav-toggle {
    display: none;
}

.navi {
    position: absolute;
    bottom: 10px;
}

.table {
    filter: brightness(75%);
}

/* Small devices */

@media (max-width: 767px) {
    .navi {
        clear: both;
        padding: 0;

        ul {
            padding-bottom: 1em;
        }

        ul li {
            display: block;
            margin-left: 0;
            text-align: center;
        }

        ul li a {
            display: block;
            padding: 0.5em 0;
        }
    }

    .js .nav-toggle {
        display: block;
        align-self: right;
        margin: 0.6667em;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: right;
        cursor: pointer;
        position: absolute;
        right: 10px;
    }

    .navcont {
        width: 100%;
    }

    .sheader-left {
        width: 80%;
    }

    .sheader-right {
        width: 20%;
    }

    .js .nav-toggle>* {
        vertical-align: middle;
    }

    .main,
    .mainrep {
        padding: 0.5em 0.2em 2em;
    }

    .landingpage {
        h1 {
            padding: 1em 0.1em 0.1em;
            font-size: 6vw;
            line-height: 1em;
        }
    }

    .landingpage {
        padding: 0.1em;

        h1 {
            grid-column: span 1;
            padding: 0.1em;
        }
    }

    .kmom-box.project {
        grid-column: span 1;
    }

    .kmom-box {
        grid-column: span 1;
    }

    .leftie,
    .rightie {
        width: 5%;
    }

    .index {
        width: 90%;
    }
}
